html {
  background: #c271ff;
}
@font-face {
  font-family: sanspro;
  src: url(source-sans-pro.regular.ttf);
}

body {
  background-image: url(images/Object.png);
  background-repeat: no-repeat;
  background-size: auto 1093px;
  font-family: sanspro, sans-serif;
}

nav a {
  display: inline-block;
  margin: 20px 10px;
  text-decoration: none;
  color: white;
  font-style: bold;
  font-size: 50px 15px;
  font-weight: bold;
}
nav {
  display: flex;
  align-items: center;
  padding: 30px 80px;
  margin-bottom: 150px;
}

.topsection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 150px;
}
.heading {
  display: inline-block;
  font-size: 120px;
  font-weight: bold;
  text-align: center;
  color: white;
  width: 684px;
  height: 133px;
}
.slogan {
  text-align: center;
  color: white;
  margin: 20px 20px;
  font-size: 16px;
  font-weight: bold;
}
.button {
  width: 162px;
  height: 44;
  font-size: 14px;
}
button {
  display: block;
  margin: 20px auto 179px;
  background-color: #c271ff;
  color: white;
  border: 0px solid;
  border-radius: 30px;
  padding: 20px 20px;
  align-items: center;
  transition: ease-in;
}
.button :hover {
  box-shadow: black 2px;
  transition-duration: 0.4s;
}

.alumni {
  color: white;
  text-align: center;
  font-size: 32px;
  font-weight: 100;
}
.learn {
  font-weight: bold;
  color: #c271ff;
}
.pros {
  display: flex;
  margin-top: 50px;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  margin-bottom: 80px;
}
.pros img {
  border-radius: 0 solid;
  border-radius: 100px;
}
.pro {
  text-align: center;
}
.pro h3 {
  font-weight: bold;
  font-size: 27px;
}
.quotesec {
  background: #c271ff;
}
.Quote {
  display: flex;
  flex-direction: row;
  height: 392px;
  background: #c271ff;
  color: white;
  align-items: center;
  margin-top: auto;
}
.Quote img {
  border-radius: 0px solid;
  border-radius: 100px;
  margin-right: 50px;
  margin-left: 260px;
}
.Quote h3 {
  font-weight: bold;
  font-size: 22;
}
.Quote p {
  font-style: italic;
  color: white;
  font-weight: lighter;
}
.videoheading {
  font-size: 32px;
  margin-top: 84px;
  margin-bottom: 84px;
  margin-left: 592px;
  text-align: center;
  display: inline-block;
}
.popular {
  font-weight: bold;
  color: #c271ff;
}

.videos {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-left: 164px;
  margin-right: 164px;
  color: #979797;
}

.video {
  margin: 10px;
  width: 255px;
  height: 335px;
  position: relative;
}

.play {
  position: absolute;
  top: 50px;
  bottom: 200px;
  left: 80px;
  right: 70px;
  width: 64px;
  height: 64px;
}
.video h3 {
  color: black;
  font-size: 16;
  font-weight: bold;
  margin-top: 10px;
}
.video h4 {
  color: #c271ff;
  font-weight: bold;
  font-size: 14;
}
.video :not(:first-child) {
  margin-left: 10px;
}

.stars p {
  display: block;
  margin-left: auto;
}
.reviewer {
  display: flex;
  justify-content: left;
  font-size: 14px;
  margin: 10px auto;
  align-items: center;
}
.reviewer img {
  display: block;
  margin-right: 20px;
  border: 0px solid;
  border-radius: 100px;
}
.stars {
  display: flex;
  color: #c271ff;
  height: 15px;
  height: 15px;
}
.stars div:nth-of-type(5) {
  color: #979797;
}
