@font-face {
  font-family: sanspro;
  src: url(source-sans-pro.regular.ttf);
}

body {
  background-image: url(images/Object.png);
  background-repeat: no-repeat;
  background-size: auto 1093px;
  font-family: sanspro, sans-serif;
}
nav a {
  display: inline-block;
  margin: 20px 10px;
  text-decoration: none;
  color: white;
  font-style: bold;
  font-size: 50px 15px;
  font-weight: bold;
}
nav {
  display: flex;
  align-items: center;
  padding: 30px 80px;
  margin-bottom: 150px;
}

.topsection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 150px;
}
.heading {
  display: inline-block;
  font-size: 120px;
  font-weight: bold;
  text-align: center;
  color: white;
  width: 684px;
  height: 133px;
}
.slogan {
  text-align: center;
  color: white;
  margin: 20px 20px;
  font-size: 16px;
  font-weight: bold;
}
.button {
  width: 162px;
  height: 44;
  font-size: 14px;
}
button {
  display: block;
  margin: 20px auto 179px;
  background-color: #c271ff;
  color: white;
  border: 0px solid;
  border-radius: 30px;
  padding: 20px 20px;
  align-items: center;
  transition: ease-in;
}
.button :hover {
  box-shadow: black 2px;
  transition-duration: 0.4s;
}

.alumni {
  color: white;
  text-align: center;
  font-size: 32px;
  font-weight: 100;
}
.learn {
  font-weight: bold;
  color: #c271ff;
}
.pros {
  display: flex;
  margin-top: 50px;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  margin-bottom: 80px;
}
.pros img {
  border-radius: 0 solid;
  border-radius: 100px;
}
.pro {
  text-align: center;
}
.pro h3 {
  font-weight: bold;
  font-size: 27px;
}
