@font-face {
  font-family: sanspro;
  src: url(fonts/source-sans-pro.regular.ttf);
}

body {
  font-family: sanspro, sans-serif;
}

.banner {
  background-image: url(images/headphones_hero_1.jpg);
  background-repeat: no-repeat;
  width: 1400px;
  height: 800px;
  color: white;
}

.navbar a {
  display: margin;
  margin: 50px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 12px;
}

.intro {
  margin-top: 300px;
  text-align: center;
  font-weight: bold;
}
.intro h1 {
  font-size: 32px;
  font-weight: bolder;
}
.intro h2 {
  font-size: 16px;
}

.intro p {
  font: size 16px;
  font-weight: normal;
}

button {
  border: 0px solid;
  border-radius: 30px;
  background-color: #ff6565;
  margin-bottom: 50px;
  padding: 10px 25px;
  transition: background-color 0.5s ease;
}
button:hover {
  background-color: rgb(22, 32, 59);
}
button a {
  text-decoration: none;
  font-size: 14px;
  color: white;
  font-weight: bold;
}

.logo {
  width: 30px;
  height: 30px;
  display: block;
  margin-right: 20px;
  background: #ff6565;
}

.offering {
  margin-top: 110px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 637px;
  height: 184px;
  margin-bottom: 85px;
}

.offering p {
  text-align: bottom;
}
.cards {
  width: 1002px;
  height: 193px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 110px;
}

.card {
  height: 193px;
  width: 207px;
}

.card p {
  display: block;
  margin-bottom: 0px;
  width: 207px;
  height: 52px;
}

.card svg {
  width: 694.2x;
  height: 65.36px;
  display: block;
  margin-left: 50px;
  margin-bottom: 50px;
}
